<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Simba's Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h1>Bank Account</h1>
<table class="table table-hover" th:if="${simba}">
    <thead>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal Type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${simba.name}"></td>
        <td th:text="${#numbers.formatDecimal(simba.balance, 1, 2)} + ' Zebra '"></td>
        <td th:text="${simba.animalType}"></td>
    </tr>
    </tbody>
</table>
<p th:if="${message}" th:utext="${message}"></p>
</body>
</html>