<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Average Stock</title>
</head>
<body>
<header>
    <span><a class="active" href="/">My Shop</a></span>
</header>

<main>
    <nav class="navbar">
        <a href="/only-available">Only available</a>
        <a href="/cheapest-first">Cheapest first</a>
        <a href="/contains-nike">Contains nike</a>
        <a href="/average-stock">Average Stock</a>
        <a href="/most-expensive">Most expensive available</a>
    </nav>
    <p class="avg" th:text="'Average stock: ' + ${averageOfStock}"></p>
</main>
</body>
</html>