<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Webshop</title>
</head>
<body>
<header>
    <span><a href="/">My Shop</a></span>
    <span><a class="more" href="/more-filters">More >></a></span>
</header>

<main>
    <nav class="navbar">
        <a href="/filter-by-type/{type}">Clothes and shoes</a>
        <a href="/filter-by-type/{type}">Electronics</a>
        <a href="/filter-by-type/{type}">Beverages and snacks</a>
        <a href="/price-in-eur">Euro</a>
        <a href="/price-in-original">Original currency</a>
    </nav>

    <form action="/search" method="POST">
        <label for="search">Search for:</label>
        <div class="search">
            <input type="text" id="search" name="search" placeholder="...something like nike">
            <input type="submit" value="Search">
        </div>
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getType()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()} + 'Kcˇ '"></td>
            <td th:text="${item.getQuantityOfStock()}"></td>
        </tr>
</main>
</table>
</body>
</html>