<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit ToDo</h1>

<form method="post" th:object="${todos}">

    <input type="hidden" th:field="*{id}" required>
    <div>
        <label for="action">Action:</label>
        <input type="text" id="action" th:field="*{action}" required>
    </div>
    <br>
    <label for="isDone">Is it Done?</label>
    <select id="isDone" name="isDone"> <br>
        <option value="false">false</option>
        <option value="true">true</option>
    </select>

    <label for="isUrgent">Is it Urgent?</label>
    <select id="isUrgent" name="isUrgent"> <br>
        <option value="false">false</option>
        <option value="true">true</option>
    </select>
    <br>
    <input type="submit" >
</form>


</body>
</html>